<h1>商品新規登録</h1>


<%= form_with model:@item, url: admin_items_path, local:true do |f| %>
<div class_field>
  <h3>商品画像</h3>
  <%= f.attachment_field :image, class:"form-control-file user_image" %>
  <h3>商品名</h3>
  <%= f.text_field :name, class:"form-control name" %>
  <h3>商品説明</h3>
  <%= f.text_field :introduction, class:"form-control" %>
  <h3>ジャンル</h3>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name) %>
  <h3>税抜き価格</h3>
  <%= f.text_field :price, class:"form-control name" %>円
  <h3>販売ステータス</h3>
  <%= f.radio_button :is_active, "on_sale" %>
　<%= f.label :is_active, "販売中" %>

  <%= f.radio_button :is_active, "Sales suspended" %>
  <%= f.label :is_active, "販売停止中" %>

</div>
<%= f.submit '新規登録', class:"btn btn-success" %>


<% end %>