<h1>商品詳細</h1>


  <%= attachment_image_tag @item, :image, size: "100x100", format: "jpeg", fallback: "no_image.jpg" %>
<div class_field>
  <tr>
    <th>商品名</th>
    <th><%= @item.name %></th>
  </tr><br />
  <tr>
    <th>商品説明</th>
    <th><%= @item.introduction %></th>
  </tr><br />
  <tr>
    <th>ジャンル</th>
    <th><%= @item.genre.name %></th>
  </tr><br />
  <tr>
    <th>税込価格(税抜価格)</th>
    <th><%= @item.taxin_price %>円(<%= @item.price %>)円</th>
  </tr><br />
  <tr>
    <th>販売ステータス</th>
    <th>
      <% if @item.is_active %>
      <span>販売中</span>
      <% else %>
      <span>販売停止中</span>
      <% end %>
    </th>
  </tr>
</div>

<%= link_to '編集する', edit_admin_item_path, class:"btn btn-success" %>