<h2>注文履歴詳細</h2>


 <table border="3" bordercolor="black">
    <tr>
      <th>注文日</th>
      <th><%= order.customer.created_at %></th>
    </tr>
    <tr>
      <th>配送先</th>
      <th><%= order.customer.address %></th>
    </tr>
    <tr>
      <th>支払方法</th>
      <th><%= order.customer.payment_method %></th>
    </tr>
    <tr>
      <th>ステータス</th>
      <th><%#= order.customer.status %></th>
    </tr>
  </table>

  <table border="3" bordercolor="black">
    <tr>
      <th>商品合計</th>
      <th><% @sum += cart_item.item.taxin_price.floor * cart_item.amount %></th>
    </tr>
    <tr>
      <th>送料</th>
      <th><%= shipping_cost = 800 %></th>
    </tr>
    <tr>
      <th>ご請求額</th>
      <th><%= @sum + shipping_cost %></th>
    </tr>
  </table>

<table border="3" bordercolor="black">
    <tr>
      <th>商品</th>
      <th><%= @cart_item.item.name %></th>
    </tr>
    <tr>
      <th>単価(税込)</th>
      <th><%= @cart_item.item.taxin_price.floor %></th>
    </tr>
    <tr>
      <th>個数</th>
      <th><%= @cart_item.amount %></th>
    </tr>
    <tr>
      <th>小計</th>
      <th><%= @cart_item.item.taxin_price.floor * cart_item.amount %></th>
    </tr>
  </table>